@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins&display=swap');

$orangeColor: rgb(219, 154, 33);
$peachColor: rgb(217, 76, 76);
html, body{
  background: linear-gradient(to right top,$orangeColor,$peachColor);
  height: 100%;
  font-family: 'Lato';
  color: #fff;
}
